/*  import google fonts */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}


/* custom scroll bar */

 ::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

 ::-webkit-scrollbar-thumb {
    background: #888;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* all similar content styling codes */

section {
    padding: 100px 0;
}

.max-width {
    /* max-width: 1300px; */
    padding: 0 80px;
    margin: auto;
}

.nav-width {
    padding: 0 80px;
    margin: auto;
}

.about,
.work,
.contact,
footer {
    font-family: 'Poppins', sans-serif;
}

.about .about-content,
.work .work-content,
.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.work .work-content {
    position: relative;
    text-align: center;
}

section .section-title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #929b8c;
    transform: translateX(-50%);
}

section .section-title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

section .section-title-light::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    /* background: #f2e8d7; */
    background: #929b8c;
    transform: translateX(-50%);
}

section .section-title-light {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    color: #dedede;
}

section .heading-5 .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    /* margin-bottom: 60px; */
    padding-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    /* background: rgb(255, 255, 255); */
    transform: translateX(-50%);
}

section .title::after {
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: #929b8c;
    padding: 0 5px;
    /* background: #fff; */
    transform: translateX(-50%);
}


/* navbar styling */

.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    transition: all 0.3s ease;
}

.navbar.sticky {
    padding: 15px 0;
    background: #294433;
}

.navbar .nav-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #294433;
    font-size: 35px;
    font-weight: 600;
}

.navbar.sticky .logo a {
    color: #fff;
}

.navbar .logo a span {
    color: #929B8C;
    transition: all 0.3s ease;
    font-family: Montserrat, sans-serif;
}

.navbar.sticky .logo a span {
    color: #fff;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    display: block;
    color: #929b8c;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover {
    color: #294433;
}

.navbar.sticky .menu li a:hover {
    color: #fff;
}


/* form css  */

.btn-warning {
    background-color: transparent;
    border-color: #bdc3c7;
}


/* menu btn styling */

.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: #4d4c37;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #dedede;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

.scroll-up-btn:hover {
    filter: brightness(90%);
}


/* about section styling */

.about {
    display: flex;
    height: 100vh;
    color: #111;
    /* min-height: 500px; */
    font-family: 'Poppins', sans-serif;
}


/* .about .about-content {
    line-height: 150%;
} */

.about .about-content .intro {
    justify-content: center;
    text-align: center;
    font-size: 4vw;
    margin: 5px 0;
}

.about .about-content .intro span {
    justify-content: center;
    text-align: center;
    color: #929b8c;
    font-weight: 500;
    font-size: 70px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.about .about-content a {
    display: inline-block;
    background: #929b8c;
    color: #dedede;
    /* font-size: 25px; */
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid #929b8c;
    transition: all 0.3s ease;
}

.about .about-content a:hover {
    color: #929b8c;
    background: none;
}


/* work section styling */

.work .max-width {
    margin: auto 0 auto auto;
}

.work .carousel .card {
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}

.work .carousel .card:hover {
    background: #929b8c;
}

.work .carousel .card .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.work .carousel .card:hover .box {
    transform: scale(1.05);
}

.work .carousel .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.work .carousel .card img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #929b8c;
    transition: all 0.3s ease;
}

.work .carousel .card:hover img {
    border-color: #fff;
}

.owl-dots {
    text-align: center;
    margin-top: 20px;
}

.owl-dot {
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid #929b8c!important;
    transition: all 0.3s ease;
}

.owl-dot.active {
    width: 35px;
    border-radius: 14px;
}

.owl-dot.active,
.owl-dot:hover {
    background: #929b8c!important;
}

.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.contact .max-width {
    margin: auto;
}

.contact .contact-content .column {
    width: calc(50% - 30px);
}

.contact .contact-content .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contact-content .left p {
    text-align: justify;
}

.contact .contact-content .left .icons {
    margin: 10px 0;
}

.contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info {
    margin-left: 30px;
}

.contact .contact-content .row i {
    font-size: 25px;
    color: #929b8c;
}

.contact .contact-content .info .head {
    font-weight: 500;
}

.contact .contact-content .info .sub-title {
    color: #333;
}

.contact .right form .fields {
    display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .right form .textarea {
    height: 80px;
    width: 100%;
}

.contact .right form .name {
    margin-right: 10px;
}

.contact .right form .email {
    margin-left: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}

.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
    border-color: #b3b3b3;
}

.contact .right form .textarea textarea {
    padding-top: 10px;
    resize: none;
}

.contact .right form .button {
    height: 47px;
    width: 170px;
}

.contact .right form .button button {
    width: 100%;
    height: 100%;
    border: 2px solid #929b8c;
    background: #929b8c;
    color: #dedede;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact .right form .button button:hover {
    color: #929b8c;
    background: none;
}


/* footer section styling */

footer {
    background: #111;
    padding: 15px 23px;
    color: #dedede;
    text-align: center;
}

footer span a {
    color: #929b8c;
    text-decoration: none;
}

footer span a:hover {
    text-decoration: underline;
}


/* responsive media query start */

@media (max-width: 1300px) {
    .about .max-width {
        margin-left: 0px;
    }
}

@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }
}

@media (max-width: 947px) {
    .menu-btn {
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before {
        content: "\f00d";
    }
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active {
        left: 0;
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .about .about-content .intro {
        font-size: 35px;
        display: block;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    .about .about-content a {
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width {
        max-width: 930px;
    }
    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }
    .about .about-content .text-2 {
        font-size: 60px;
    }
    .about .about-content .intro {
        font-size: 32px;
    }
    .about .about-content a {
        font-size: 20px;
    }
    .services .serv-content .card {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .about .about-content .text-2 {
        font-size: 50px;
    }
    .about .about-content .intro {
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text {
        font-size: 19px;
    }
    .contact .right form .fields {
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email {
        margin: 0;
    }
    .scroll-up-btn {
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}


/* basic css for html */

body {
    font-family: Montserrat, sans-serif;
    color: #22313F;
    /* font-size: 14px;
    line-height: 20px; */
}

h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 38px;
    line-height: 44px;
    font-weight: bold;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 36px;
    font-weight: bold;
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
}

h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
}

h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
}

h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
}

p {
    margin-top: 0;
    margin-bottom: 5px;
}

a {
    font-style: normal;
    text-align: left;
    text-decoration: none;
}


/*  */

.center {
    margin: auto;
    width: 70%;
    padding: 10px;
}

.footer {
    background-color: #f0f0f0;
}


/* come here to fix it up  */

.container {
    max-width: 1400px;
    padding-right: 40px;
    padding-left: 40px;
}

.projectcard {
    width: 100%;
    /* height: 100%; */
    height: 500px;
    max-width: 0px;
    border-radius: 30px;
    /* background-size: 610px; */
}

.body {
    max-width: none;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
}

.magnolia-header {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: right;
    justify-content: right;
}

.home {
    display: flex;
    background: url("images/banner.jpg") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
}

.home .home-content a {
    display: inline-block;
    /* button color */
    background: #294433;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid #294433;
    transition: all 0.3s ease;
}

.home .home-content a:hover {
    color: #294433;
    background: none;
}

.home .home-content .text-1 {
    font-size: 27px;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span {
    color: #929b8c;
    font-weight: 500;
}


/* about section styling */

.gradient {
    background: linear-gradient(black, white);
}

.about .about-content .left {
    width: 45%;
}

.about .about-content .left img {
    /* height: 400px; */
    width: 60%;
    height: auto;
    object-fit: cover;
    border-radius: 6px;
    margin: auto;
    margin-left: 15%;
}

.about .about-content .right {
    width: 55%;
    line-height: 1.6;
}

.about .about-content .right .text {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

.about .about-content .right .text span {
    color: #294433;
}

.about .about-content .right p {
    text-align: justify;
}

.about .about-content .right a {
    display: inline-block;
    background: #294433;
    color: #dedede;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #294433;
    transition: all 0.3s ease;
}

.about .about-content .right a:hover {
    color: #294433;
    background: none;
}


/* .magnolia-header::before {
    content: "";
    background-image: url('images/magnolia-drawing.png');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
} */

.media-element {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    background-position: right;
}

.project-subtitle {
    position: relative;
    bottom: 0px;
    z-index: 2;
    font-family: 'Work Sans', sans-serif;
    color: hsla(0, 0%, 100%, 0.65);
    font-size: 18px;
    text-decoration: none;
    text-align: left;
    margin: auto;
}

.home .max-width {
    margin: auto 0 auto 30px;
}

.project-subtitle.darksub {
    color: rgba(43, 43, 43, 0.45);
}

.link-block-2 {
    width: 70%;
    height: 430px;
}

.link-block-2.projectcard {
    display: block;
    height: 500px;
    max-width: none;
    margin: auto;
    margin-bottom: 40%;
    padding-top: 20px;
    padding-left: 40px;
    border-radius: 20px;
    background-color: #F2E8D7;
    background-image: url("images/spotify-projectcard.png");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 10px;
    white-space: normal;
    background-clip: border-box;
}

.link-block-2.projectcard:hover {
    background-position: 50% 50%;
    background-size: cover;
}

#spotify {
    background-image: url("images/spotify-projectcard.png");
    background-position: 50% 50%;
}

.link-block-2.projectcard.spotify:hover {
    background-size: cover;
}

#yelp-ds {
    background-image: url("images/yelp-ds-projectcard.png");
    background-position: 50% 50%;
}

#yelp-elite {
    background-image: url("images/yelp-elite-projectcard.png");
    background-position: 50% 50%;
}

.heading {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
}

.heading-5 {
    color: #dedede;
}

.heading-5.project-title {
    display: block;
    /* width: 88%; */
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    direction: ltr;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    font-weight: 500;
    text-transform: none;
    white-space: normal;
    text-align: left;
    ;
}

.heading-5.project-title.darktitle {
    color: #1b1b1b;
}

.columns-2 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 14%;
    line-height: 20px;
    cursor: auto;
}

.w-container .w-row {
    margin-left: -10px;
    margin-right: -10px;
}

.w-row:before,
.w-row:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}

.w-row:after {
    clear: both;
}

.heroheader {
    display: inline;
    max-width: 20vw;
    float: left;
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    ;
    font-size: 14vw;
    line-height: 18vh;
    font-weight: 500;
}

.paragraph {
    display: inline;
    width: auto;
    float: left;
    clear: left;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    line-height: 3vh;
}

.herotext {
    position: static;
    left: 0%;
    top: 20vh;
    right: auto;
    bottom: auto;
    z-index: 1;
    display: block;
    width: 40%;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 20vh;
    padding-left: 0px;
    float: left;
    clear: none;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
}

.column-5 {
    padding-right: 20px;
    padding-left: 20px;
}

.column-6 {
    padding-right: 20px;
    padding-left: 20px;
}


/* .navbar {
    z-index: 5;
    display: block;
    background-color: transparent;
}

.nav-menu {
    position: relative;
    z-index: auto;
    overflow: visible;
    margin-right: auto;
    margin-left: auto;
    padding-top: 40px;
    float: right;
    clear: none;
    text-align: left;
    text-decoration: none;
    -o-object-fit: fill;
    object-fit: fill;
}

.navcontainer {
    max-width: 1400px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
}

.nav-link-3 {
    display: inline;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.nav-link-3:active {
    border: 0px solid transparent;
    color: red;
}

.nav-link-3:focus {
    color: red;
}

.nav-link-3.w--current {
    color: #292929;
} */

.link-block-3.close {
    display: none;
    -o-object-fit: fill;
    object-fit: fill;
}

.mastercontainer {
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 40px;
}

.projecttitle {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-size: 70px;
    line-height: 90px;
    font-weight: 600;
    text-align: center;
}

.projecttitle.light {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    color: #dedede;
    font-weight: 300;
}

.text-block {
    text-align: center;
}

.text-block.projectmeta {
    font-family: 'Work Sans', sans-serif;
    color: rgba(53, 53, 53, 0.4);
    font-size: 20px;
}

.text-block.projectmeta.lightish {
    color: hsla(0, 0%, 100%, 0.49);
}

.text-block.projectmeta.projectsecondarydark {
    color: rgba(53, 53, 53, 0.4);
}

.projectdescription {
    margin-top: 40px;
    margin-bottom: 40px;
}

.projectdescriptionp {
    max-width: 800px;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.projectimages {
    margin-right: 20px;
    padding-left: 20px;
}

.projectimage {
    display: block;
    max-width: 100%;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
}

.container-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 260px;
    max-width: 1400px;
    padding: 40px 40px 10px;
}

.link {
    font-family: 'Work Sans', sans-serif;
    color: #9b9b9b;
}

.link:hover {
    color: #ee4545;
}

.text-block-2 {
    position: relative;
    top: 50%;
    bottom: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    font-family: 'Work Sans', sans-serif;
    font-size: 11px;
}

.list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.heading-7 {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 400;
}

.list-item {
    color: #888;
}

.nextup {
    margin-top: 60px;
    margin-bottom: 40px;
    margin-left: 0px;
    padding-bottom: 20px;
    border-bottom: 0px solid #ebebeb;
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    text-transform: none;
}

.video {
    margin-bottom: 40px;
}

.heading-8 {
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
}

.heading-9 {
    font-size: 24px;
    text-align: center;
}

.heading-9.projectsectionheader {
    font-family: 'Work Sans', sans-serif;
    line-height: 32px;
}

.image {
    display: block;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
}

.image-2 {
    display: block;
    width: auto;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
}

.image-3 {
    display: block;
    max-width: 800%;
    margin-right: auto;
    margin-left: auto;
}

.nextuptext {
    margin-top: 60px;
    margin-bottom: 40px;
    margin-left: 0px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ebebeb;
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    text-transform: none;
}

.contactoverlay {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 99;
    display: none;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    background-color: hsla(0, 0%, 100%, 0.94);
}

.contactinfo {
    position: static;
    left: 0%;
    top: 50%;
    right: 0%;
    bottom: auto;
    display: block;
    width: 60%;
    height: auto;
    margin-top: 30vh;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: transparent;
}

.contactheading {
    font-family: 'Work Sans', sans-serif;
    color: #000;
    font-size: 100px;
    line-height: 120px;
    text-align: center;
}

.contact-btn {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid #000;
    border-radius: 100px;
    background-color: hsla(0, 0%, 100%, 0.48);
    -webkit-transition: background-color 200ms ease;
    transition: background-color 200ms ease;
    font-family: 'Work Sans', sans-serif;
    color: #000;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
}

.heading-10 {
    margin-left: 0px;
    font-family: 'Work Sans', sans-serif;
    font-size: 10vw;
    line-height: 10vw;
}

.aboutcopy {
    margin-top: 84px;
    margin-left: -6vw;
}

.image-30 {
    height: 80vh;
}

.paragraph-2 {
    margin-bottom: 40px;
    margin-left: 0px;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    line-height: 26px;
}

.list-2 {
    padding-left: 0px;
    list-style-type: none;
}

.list-item-2 {
    height: 23px;
}

.list-item-3 {
    font-family: 'Work Sans', sans-serif;
}

.list-item-3.aboutlink {
    font-size: 25px;
    font-weight: 600;
}

.list-item-4 {
    font-family: 'Work Sans', sans-serif;
}

.list-item-5 {
    font-family: 'Work Sans', sans-serif;
}

.list-item-6 {
    font-family: 'Work Sans', sans-serif;
}

.aboutlink {
    font-family: 'Work Sans', sans-serif;
    color: #252525;
    font-size: 26px;
    line-height: 36px;
    font-weight: 500;
}

.aboutlinks {
    color: #272727;
}

.aboutlinks:hover {
    color: red;
}

.link-2 {
    color: #202020;
}

.photocred {
    margin-top: 122px;
    font-size: 11px;
}

.heading-11 {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 400;
}

@media screen and (max-width: 991px) {
    .hero {
        height: 580px;
        margin-bottom: 80px;
        padding-top: 0px;
        padding-left: 0px;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .content {
        position: relative;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
        align-content: flex-start;
    }
    .body {
        margin-right: 20px;
        margin-left: 20px;
    }
    .project-subtitle {
        font-size: 16px;
    }
    .link-block-2.projectcard {
        display: block;
        height: 500px;
        max-width: none;
        margin-bottom: 40px;
        padding-top: 20px;
        padding-left: 40px;
        border-radius: 20px;
        background-size: cover;
    }
    .link-block-2.projectcard:hover {
        background-size: cover;
    }
    .line-block-2.projectcard .yelp-ds {
        background-image: url("images/yelp-ds-projectcard.png");
        background-position: 50% 80%;
    }
    .link-block-2.projectcard.yelp-ds:hover {
        background-size: cover;
    }
    .heading-5.project-title {
        font-size: 30px;
        line-height: 35px;
    }
    .heroheader {
        position: static;
        z-index: 1;
        display: block;
        margin-top: 160px;
        margin-left: 20px;
        float: left;
        clear: none;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
        font-size: 15vw;
        line-height: 100px;
        font-weight: 400;
    }
    .paragraph {
        width: 340px;
        margin-left: 26px;
        float: left;
        clear: left;
        font-family: 'Work Sans', sans-serif;
        font-size: 14px;
        line-height: 24px;
        font-weight: 500;
    }
    .herotext {
        position: relative;
        top: 20vh;
        z-index: 6;
        margin-top: -82px;
        margin-left: 0px;
        padding-top: 0vh;
        -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
        align-self: flex-start;
    }
    .navbar {
        padding-right: 20px;
        padding-left: 20px;
    }
    /* .nav-menu {
        position: relative;
        left: 0%;
        top: 0%;
        right: 0%;
        bottom: 0%;
        width: 100%;
        height: 100%;
        clear: left;
        background-color: #fff;
    } */
    .nav-menu {
        position: relative;
        z-index: auto;
        overflow: visible;
        margin-right: auto;
        margin-left: auto;
        padding-top: 40px;
        float: right;
        clear: none;
        text-align: left;
        text-decoration: none;
        -o-object-fit: fill;
        object-fit: fill;
        display: block;
    }
    .navcontainer {
        margin-bottom: 0px;
    }
    .menu-button {
        top: 17px;
        width: auto;
        height: auto;
        float: right;
    }
    .menu-button.w--open {
        top: 0px;
        display: block;
        float: right;
        clear: none;
    }
    .link-block-3 {
        width: 30px;
        height: 50px;
        float: right;
        background-image: url("https://uploads-ssl.webflow.com/5350028b1443eefb41001752/5fa0aef85fda977bf6532aff_Close%402x.png");
        background-position: 50% 50%;
        background-size: cover;
    }
    .link-block-3.close {
        display: block;
        width: 30px;
        height: 30px;
        margin-top: 0px;
        margin-right: 40px;
        padding: 40px;
        background-size: 30px 30px;
        background-repeat: no-repeat;
    }
    .mastercontainer {
        padding-top: 10px;
        padding-right: 0px;
        padding-left: 0px;
    }
    .projecthero {
        padding-top: 50px;
        padding-right: 20px;
        padding-left: 20px;
        background-image: url("https://uploads-ssl.webflow.com/5350028b1443eefb41001752/5fa9bb895ddb5ae62249ddbe_Intercom-00.jpg");
    }
    .projecthero.projectheader.industryillos {
        background-position: 50% 50%;
    }
    .projecthero.projectheader.animalsarchheader {
        margin-top: -105px;
    }
    .projecthero.financehero {
        background-position: 50% 100%;
    }
    .projecttitle {
        margin-top: 60px;
    }
    .projecttitle.light {
        line-height: 76px;
    }
    .projectimages {
        margin-right: 0px;
        padding-right: 20px;
        padding-left: 20px;
    }
    .nextup {
        padding-right: 20px;
        padding-left: 20px;
    }
    .nextuptext {
        padding-right: 20px;
        padding-left: 20px;
    }
    .contactheading {
        font-size: 80px;
    }
    .contact-btn {
        -webkit-transition: background-color 200ms ease;
        transition: background-color 200ms ease;
        font-size: 20px;
    }
    .div-block-13 {
        display: none;
        width: 6%;
    }
    .floaters {
        height: 96%;
    }
    .image-29.floater1 {
        display: none;
    }
    .aboutphoto {
        position: absolute;
        left: -17%;
        top: 0%;
        right: auto;
        bottom: auto;
        z-index: -1;
        display: block;
        overflow: hidden;
        height: 670px;
        margin-top: 0px;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
        -webkit-box-ordinal-group: 1;
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }
    .aboutcopy {
        height: 70vh;
        margin-top: 13px;
        margin-left: 0px;
        padding-left: 293px;
    }
    .image-30 {
        margin-top: -190px;
    }
    .div-block-14 {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .hero {
        height: 600px;
        margin-right: auto;
        margin-bottom: 60px;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .content {
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    .body {
        margin-top: 0px;
        margin-right: auto;
        margin-left: auto;
    }
    .project-subtitle {
        font-size: 20px;
    }
    .link-block-2.projectcard {
        height: 400px;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: scroll;
    }
    .line-block-2.projectcard .yelp-ds {
        background-image: url("images/yelp-ds-projectcard.png");
        background-position: 50% 80%;
    }
    .link-block-2.projectcard.yelp-ds:hover {
        background-size: cover;
    }
    .heading-5.project-title {
        font-size: 36px;
    }
    .container.mastercontainer {
        padding-right: 20px;
        padding-left: 20px;
    }
    .heroheader {
        display: block;
        width: 100%;
        max-width: none;
        margin-top: -62px;
        margin-right: auto;
        margin-left: auto;
        float: none;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-size: 102px;
        text-align: center;
    }
    .paragraph {
        display: block;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        float: none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: baseline;
        -webkit-align-items: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
        text-align: center;
    }
    .herotext {
        top: 8.2vh;
        width: 100%;
        margin-top: -93px;
        margin-left: 0px;
        padding-top: 0vh;
        clear: none;
        -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
        align-self: flex-start;
        -webkit-box-flex: 0;
        -webkit-flex: 0 auto;
        -ms-flex: 0 auto;
        flex: 0 auto;
    }
    /* .column-5 {
        padding-right: 0px;
        padding-left: 0px;
    }
    .column-6 {
        padding-right: 0px;
        padding-left: 0px;
    } */
    .w-col {
        position: relative;
        float: center;
        width: 80%;
        min-height: 1px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .w-col-6 {
        width: 50%;
    }
    .navcontainer {
        margin-bottom: 0px;
    }
    .menu-button {
        top: 0px;
    }
    .mastercontainer {
        padding-right: 0px;
        padding-left: 0px;
    }
    .projecthero {
        height: 100vh;
        margin-top: -73px;
        padding-top: 40px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .projecttitle {
        margin-top: 140px;
        font-size: 50px;
        line-height: 60px;
    }
    .projecttitle.light {
        line-height: 50px;
    }
    .text-block.projectmeta {
        font-size: 16px;
    }
    .projectdescriptionp {
        padding-right: 20px;
        padding-left: 20px;
        font-size: 14px;
        line-height: 21px;
    }
    .projectimages {
        margin-right: 0px;
    }
    .findme {
        clear: none;
        -webkit-box-flex: 0;
        -webkit-flex: 0 auto;
        -ms-flex: 0 auto;
        flex: 0 auto;
    }
    .nextup {
        padding-right: 20px;
        padding-left: 20px;
    }
    .heading-9.projectsectionheader {
        font-size: 22px;
    }
    .image-2.projectimage {
        max-width: 100%;
    }
    .brand {
        width: 70px;
    }
    .brand.w--current {
        padding-left: 0px;
    }
    .nextuptext {
        padding-right: 20px;
        padding-left: 20px;
    }
    .contactoverlay {
        display: none;
    }
    .contactinfo {
        width: 100%;
    }
    .div-block-13 {
        display: none;
    }
    .floaters {
        display: none;
    }
    .aboutphoto {
        position: absolute;
        left: 0%;
        top: auto;
        right: 0%;
        bottom: 0%;
        display: block;
        overflow: hidden;
        height: auto;
        max-width: 100%;
        margin-top: -322px;
        padding-left: 0px;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
        -webkit-box-ordinal-group: 0;
        -webkit-order: -1;
        -ms-flex-order: -1;
        order: -1;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }
    .aboutcopy {
        padding-right: 40px;
        padding-left: 40px;
    }
    .image-30 {
        position: static;
        left: 0%;
        top: 0%;
        right: auto;
        bottom: auto;
        display: block;
        width: 100%;
        height: auto;
        max-width: none;
        margin-top: 0px;
        margin-left: 0px;
    }
}

@media screen and (max-width: 479px) {
    .hero {
        height: 610px;
        margin-bottom: 19px;
    }
    .body {
        margin-right: 0px;
        margin-left: 0px;
    }
    .project-subtitle {
        font-size: 16px;
    }
    .link-block-2.projectcard {
        height: auto;
        min-height: 400px;
        margin-bottom: 20px;
    }
    .line-block-2.projectcard .yelp-ds {
        background-image: url("images/yelp-ds-projectcard.png");
        background-position: 50% 80%;
    }
    .link-block-2.projectcard.yelp-ds:hover {
        background-size: cover;
    }
    .heading-5.project-title {
        font-size: 28px;
    }
    .container.mastercontainer {
        padding-right: 10px;
        padding-left: 10px;
    }
    .heroheader {
        margin-top: -50px;
        font-size: 80px;
        line-height: 100%;
    }
    .hand {
        margin-top: -24px;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
    }
    .column-6 {
        padding-right: 0px;
        padding-left: 0px;
    }
    .navcontainer {
        margin-bottom: 0px;
    }
    .nav-link-3 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        clear: none;
    }
    .menu-button {
        top: 10px;
        padding: 10px;
    }
    .link-block-3.close {
        width: auto;
        height: auto;
        margin-top: 10px;
        margin-right: 20px;
        padding: 15px;
    }
    .mastercontainer {
        padding-top: 0px;
        padding-right: 0px;
        padding-left: 0px;
    }
    .projecthero {
        margin-top: -72px;
    }
    .projecthero.projectheader {
        height: 100vh;
        padding-top: 10px;
    }
    .projecthero.projectheader.brainiacheader {
        background-position: 50% 50%;
    }
    .projecthero.projectheader.animalsarchheader {
        background-position: 50% 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .projecttitle {
        margin-top: 120px;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 40px;
        line-height: 44px;
    }
    .projecttitle.light {
        margin-top: 80px;
        padding-right: 20px;
        padding-left: 20px;
        font-size: 42px;
        line-height: 60px;
    }
    .text-block.projectmeta.lightish {
        font-size: 20px;
    }
    .projectimages {
        margin-right: 0px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .projectimage {
        margin-bottom: 20px;
    }
    .container-3 {
        height: 100%;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .findme {
        -webkit-box-flex: 0;
        -webkit-flex: 0 auto;
        -ms-flex: 0 auto;
        flex: 0 auto;
    }
    .text-block-2 {
        position: static;
        margin-top: 38px;
        font-size: 8px;
    }
    .nextup {
        margin-top: 40px;
        margin-bottom: 20px;
        padding-right: 10px;
        padding-bottom: 15px;
        padding-left: 10px;
        border: 0px solid #000;
        border-radius: 0px;
        font-family: 'Work Sans', sans-serif;
        font-size: 20px;
        font-weight: 400;
        text-align: center;
        text-decoration: none;
    }
    .image-3.projectimage {
        max-width: 100%;
    }
    .brand {
        width: 70px;
        padding-left: 0px;
    }
    .brand.w--current {
        width: 60px;
        height: 60px;
    }
    .nextuptext {
        margin-top: 40px;
        margin-bottom: 20px;
        padding-right: 10px;
        padding-bottom: 15px;
        padding-left: 10px;
        border-style: solid;
        border-width: 0px 0px 1px;
        border-color: #000 #000 #e4e4e4;
        border-radius: 0px;
        font-family: 'Work Sans', sans-serif;
        font-size: 20px;
        font-weight: 400;
        text-align: center;
        text-decoration: none;
    }
    .contactheading {
        margin-top: 40px;
        font-size: 50px;
        line-height: 60px;
    }
    .contact-btn {
        width: 80%;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 18px;
    }
    .floaters {
        display: none;
    }
    .aboutphoto {
        left: 0%;
        top: 0%;
        right: 0%;
        bottom: 0%;
        width: 95vw;
        margin-top: 17vw;
        -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
        align-self: flex-start;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }
    .heading-10 {
        font-size: 20vw;
        line-height: 20vw;
    }
    .aboutcopy {
        height: auto;
        padding-right: 10px;
        padding-left: 10px;
        -webkit-box-flex: 0;
        -webkit-flex: 0 auto;
        -ms-flex: 0 auto;
        flex: 0 auto;
    }
    .image-30 {
        height: auto;
        margin-top: 0px;
    }
    .paragraph-2 {
        font-size: 16px;
        line-height: 20px;
    }
    .aboutlinks {
        font-size: 20px;
        line-height: 24px;
    }
    .photocred {
        margin-top: 8vh;
        margin-bottom: 40px;
    }
    .background-video {
        height: 280px;
    }
    .image-31 {
        color: #fff;
    }
}


/* Individual Project Page  */

figure {
    margin-top: 25px;
    padding-bottom: 20px;
}

figcaption {
    margin-top: 5px;
    opacity: 0.6;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    width: 80%;
}

.w-layout-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}

#w-node-f2c6de040bbf-9e3092e3 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
}

#w-node-f2c6de040bc4-9e3092e3 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
}

.position-name-text {
    width: 90%;
    margin-bottom: 10px;
    opacity: 1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    color: #111;
    font-size: 20px;
    line-height: 34px;
    font-weight: 600;
    text-transform: none;
}

.paragraph-light.cc-position-name {
    display: block;
    width: 95%;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 0%;
    opacity: 1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    line-height: 160%;
    text-align: left;
}

.paragraph-light {
    display: block;
    width: auto;
    margin-top: 25px;
    margin-right: 30%;
    margin-left: 30%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    opacity: 0.8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    color: #111;
    font-size: 1vw;
    line-height: 140%;
    text-align: center;
}

.paragraph-light.cc-position-name {
    display: block;
    width: 95%;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 0%;
    opacity: 1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    line-height: 160%;
    text-align: left;
}

#w-node-f2c6de040bc9-9e3092e3 {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 2;
    grid-column-end: 5;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
}

.project-overview-grid {
    margin-top: 120px;
    margin-bottom: 35px;
    grid-column-gap: 50px;
    grid-row-gap: 100px;
    grid-template-areas: ". . . ." ". . . .";
    -ms-grid-columns: 1fr 50px 1fr 50px 1fr 50px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.w-layout-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}

.project-section {
    display: block;
    margin: 5% 0px 0px;
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

.project-section .container {
    display: block;
    width: auto;
    max-width: none;
    margin-right: 12%;
    margin-left: 12%;
    justify-items: stretch;
    -ms-grid-rows: 1fr auto;
    grid-template-rows: 1fr auto;
}

.project-section body {
    font-family: Montserrat, sans-serif;
    color: #1a1b1f;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 10px;
}

.project-description-grid-copy {
    display: -ms-grid;
    display: grid;
    margin-top: 120px;
    margin-bottom: 120px;
    justify-items: stretch;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-areas: ". .";
    -ms-grid-columns: 1fr 16px 2.5fr;
    grid-template-columns: 1fr 2.5fr;
    -ms-grid-rows: auto 16px auto;
    grid-template-rows: auto auto;
}

.proejct-section img {
    width: 100%;
    border-radius: 16px;
    max-width: 100%;
    /* vertical-align: middle; */
    display: block;
    object-fit: cover;
    max-width: 750px;
}

#w-node-74a68f1f4cd2-9e3092e3 {
    -ms-grid-column-align: start;
    justify-self: start;
}

#w-node-0e58dc25cd83-9e3092e3 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
}

#w-node-e20f57726367-9e3092e3 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
}

#w-node-74a68f1f4cd2-9e3092e3 {
    -ms-grid-column-align: start;
    justify-self: start;
}

.work-position-wrap {
    margin-bottom: 40px;
}

#w-node-42dcb589c37f-9e3092e3 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
}

.paragraph-light-copy-copy.cc-position-name {
    display: block;
    width: 95%;
    margin-bottom: 5px;
    line-height: 140%;
}

.paragraph-light-copy-copy {
    display: block;
    width: 80%;
    margin-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    opacity: 1;
    /* color: #fff; */
    font-size: 1vw;
    line-height: 160%;
    text-align: left;
}

.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

.image-7 {
    max-width: 720px;
}

.detail-header-image {
    width: 100%;
}


/* table */

.tg {
    border-collapse: collapse;
    border-spacing: 0;
    width: 80%;
}

.tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg .tg-1wig {
    font-weight: bold;
    text-align: left;
    vertical-align: top
}

.tg .tg-0lax {
    text-align: left;
    vertical-align: top
}

.bold {
    font-weight: bold;
}